
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
}
 header{
    border: 2px solid #ECEDED ;
    display: flex;
    padding-right: 27px;
    align-items: center;
 }
.logo-area{
    display: flex;
      h1{
       
       margin-left: 27px ;
       font-weight: 700;
       font-size: 45px;
     }
    
}
.logo-area span:first-child {
        color: #4B90A2;
}
.logo-area span:last-child{
    color: #4E6036;
}

.logo-area span:nth-child(2){
    color: #D8A46D;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    background-color: #ECF3F5 ;
    margin-left: 109px;
    width: 357px;
    height: 50px;
    border-radius:  10px 10px 10px 10px ;
    border: none;
}

input::placeholder{
    font-weight: 400;
    font-size: 15px;
    color: #89928E;
    
}

.date {
    align-items: center;
    display: flex;
    margin-left: auto;
    height: 58px;
      p{
        margin-right: 21px ;
    }
}
.date::before{
    padding-left: 10px;
    padding-bottom: 8px;
    content: "";
    width: 16px;
    height: 18px;
    background-image: url(./assets/icon/calendar_today_24dp_000000_FILL0_wght400_GRAD0_opsz24.png);
}

button{
    padding-bottom: 15px;
    padding-top: 10px;
    border-radius: 10px;
    border:none;
    width: 140px;
    height: 40px;
    color:#2C3832 ;
    background-color: #B1CED4;
    align-items: center;
       span{
        font-weight: 700;
        font-size: 10px;
        color: #2C3832;
        display: inline-block;
        vertical-align: middle;
        border: 2px solid#2C3832;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
       }
       
} 
