
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
}
 header{
    display: flex;
    padding-right: 27px;
    align-items: center;
 }
.logo-area{
    display: flex;
    margin-top: 20px;
      h1{
       
       margin-left: 27px ;
       font-weight: 700;
       font-size: 45px;
     }
    
}
.logo-area span:first-child {
        color: #4B90A2;
}
.logo-area span:last-child{
    color: #4E6036;
}

.logo-area span:nth-child(2){
    color: #D8A46D;
}

input{
    padding-left: 25px;
    background-color: #ECF3F5 ;
    margin-left: 109px;
    width: 357px;
    height: 50px;
    border-radius:  15px 15px 15px 15px ;
    border: none;
}

input::placeholder{
    font-weight: 400;
    font-size: 15px;
    color: #89928E;
    
}

.date {
    display: flex;
    margin-left: auto;
    height: 58px;
}

button{
   
    align-items: center;
    width: 175px;
    color:#2C3832 ;
    background-color: #B1CED4;
       span{
        display: block;
        border: 3px solid #2C3832;
        height: 18px;
        width: 18px;
        border-radius: 50%;
       }
}

